/* Réinitialise le box model pour tous les éléments, 
   et supprime les marges et paddings par défaut */
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------ Flex ------ */
.flex{
    display: flex;
    flex-wrap: wrap;
}

.spaceBetween{
    justify-content: space-between;
    
}

.container{
    max-width: 1200px;
    margin: auto;
}

.alignCenter{
    align-items: center;
}

.textCenter{
    text-align: center;
}

.plusnone{
    list-style: none;
}

.txtDecoNone{
    text-decoration: none;
}
/*###########################################*/
/* MARGIN/PADDING */
.top20{
    margin-top: 20px;
}

.top60{
    margin-top: 60px;
}

.top100{
    margin-top: 100px;
    
}
.ptb64{
    padding-top: 64px;
    padding-bottom: 64px;
}
/*########################*/
        /*TITRE and Paragraphe*/
h1{
    color: orange;
    font-size: 60px;
    margin: 20px 0;
}

h2{

}

h3{

}

b{
    color: #091057;
}
/*########################*/
/* WIDTH */
.w50{
    width: 50%;
}

.w70{
    width: 70%;
}

.w25{
    width: 25%;
}

.w45{
    width: 45%;
}

.w100{
    width: 100%;
}
/*##############*/

/* HEADER */
header{
    padding: 20px 0;
    top: 0;
    left: 0;
    width: 100%;
}


header>nav{
    margin: auto;
}


.imgHeader{
    width: 100%;
    height: 30px;
}

.bgred{
    background-color: red;
}

.bgblue{
    background-color: #091057;
}

.black{
    color: black;
}

.white{
    color: white;
}

/* HERO */

.hero{
    background-color: #E4EAF8;
}

.para1{
    width: 25%;
}